[submodule "src/bobbycar-protocol"]
	path = src/bobbycar-protocol
	url = git@github.com:bobbycar-graz/bobbycar-protocol.git
[submodule "src/espcpputils"]
	path = src/espcpputils
	url = git@github.com:0xFEEDC0DE64/espcpputils.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/0xFEEDC0DE64/esp-idf.git
